<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.ritikk.teamcollab.mappers.OrganizationsMapper'>

<!-- 	<select id='getEmployeeById' parameterType='int' -->
<!-- 		resultMap='employeeResult'> -->
<!-- 		SELECT -->
<!-- 		* -->
<!-- 		FROM EMPLOYEE -->
<!-- 		WHERE id = #{employeeId} -->
<!-- 	</select> -->
	<!-- Instead of referencing Fully Qualified Class Names we can register 
		Aliases in mybatis-config.xml and use Alias names. -->
	<resultMap type='Organization' id='organizationsResult'>
		<id property='organizationId' column='OrganizationId' />
		<result property='name' column='Name' />
	</resultMap>

	<select id='getAllOrganizations' resultMap='organizationsResult'>
		SELECT * FROM Organizations
	</select>

<!-- 	<insert id='insertEmployee' parameterType='Employee' -->
<!-- 		useGeneratedKeys='true' keyProperty='id'> -->
<!-- 		INSERT INTO `EMPLOYEE` -->
<!-- 		(`id`, -->
<!-- 		`first_name`, -->
<!-- 		`last_name`, -->
<!-- 		`salary`) -->
<!-- 		VALUES -->
<!-- 		( -->
<!-- 		#{id}, -->
<!-- 		#{firstName}, -->
<!-- 		#{lastName}, -->
<!-- 		#{salary} -->
<!-- 		) -->
<!-- 	</insert> -->

<!-- 	<update id='updateEmployee' parameterType='Employee'> -->
<!-- 		UPDATE `EMPLOYEE` -->
<!-- 		SET -->
<!-- 		`first_name` = #{firstName}, -->
<!-- 		`last_name` = #{lastName}, -->
<!-- 		`salary` = #{salary} -->
<!-- 		WHERE `id` = #{id} -->
<!-- 	</update> -->

<!-- 	<delete id='deleteEmployee' parameterType='int'> -->
<!-- 		DELETE FROM EMPLOYEE WHERE -->
<!-- 		`id` = #{id} -->
<!-- 	</delete> -->

</mapper>