<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.ritikk.teamcollab.mappers.ProjectsMapper'>

	<resultMap type='Project' id='projectsResult'>
		<id property='projectID' column='ProjectID' />
		<result property='name' column='Name' />
		<result property="organizationID" column="OrganizationID"/>
	</resultMap>

	<select id='getAllProjects' resultMap='projectsResult'>
		SELECT * FROM Projects
	</select>

</mapper>